<div 
  class="fixed top-60 md:top-80 h-auto flex flex-col justify-start w-full z-10 bg-pale"
  x-cloak 
  x-show="menu"
  x-transition:enter="transition ease-out duration-240"
  x-transition:enter-start="opacity-0"
  x-transition:enter-end="opacity-100"
  x-transition:leave="transition ease-in duration-240"
  x-transition:leave-start="opacity-100"
  x-transition:leave-end="opacity-0"
  x-init="window.addEventListener('scroll', () => {  if (menu) {  menu = false; } });">
  <nav>
    <ul>
      {{ page_elements }}
        {{ if type == 'page_section' }}
          <li class="w-full">
            <a 
              href="/#{{ anchor }}" 
              class="w-full h-40 md:h-60 font-reckless-neue text-md md:text-lg flex flex-col justify-center border-b border-b-black text-center tracking-tight uppercase hover:text-white hover:bg-black transition-colors"
              target="{{ is_external ? '_blank' : '_self' }}"
              title="{{ title }}"
              @click="menu = false">
              {{ title }}
            </a>
          </li>
        {{ /if }}
      {{ /page_elements }}
    </ul>
  </nav>
</div>
