<footer class="border-t border-t-black">
  {{ partial:layout/inner class="py-25 lg:py-30" }}
    <div class="lg:grid lg:grid-cols-6">
      {{ if footer:contact_information }}
        <div class="lg:col-span-2">
          {{ footer:contact_information }}
        </div>
      {{ /if }}
      {{ if footer:imprint }}
        <div class="lg:col-span-2">
          {{ footer:imprint }}
        </div>
      {{ /if }}
      <div class="lg:col-span-2">
        © {{ now iso_format="YYYY" }} Katinka Ruffieux
      </div>
    </div>
  {{ /partial:layout/inner }}
</footer>
{{ vite src="resources/js/app.js" }}
{{ livewire:scripts }}
