{{ partial:layout/inner class="pb-30 md:pb-60 lg:pb-90 first:pt-15 md:first:pt-30 lg:first:pt-45" }}
<div class="lottiePlayerContainer">
  <lottie-player id="randomLottie-{{ id }}" autoplay></lottie-player>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const animationFiles = [
        {{ animation_files }}
          '{{ value }}',
        {{ /animation_files }}
      ];
      const player = document.getElementById('randomLottie-{{ id }}');
      const animationController = initRandomAnimationPlayer(player, animationFiles);
      
      // Store controller globally for external access (optional)
      window.animationController_{{ id }} = animationController;
    });
  </script>
</div>
{{ /partial:layout/inner }}
