{{ partial:layout/inner class="pb-30 md:pb-60 lg:pb-90 lottiContainer-{{ id }}" }}
  <lottie-player
    id="{{ id }}"
    src="{{ animation_json }}">
  </lottie-player>
{{ /partial:layout/inner }}

<script>
  document.addEventListener("DOMContentLoaded", function () {
    LottieInteractivity.create({
      player: "#{{id}}",
      mode: "scroll",
      container: "lottiContainer-{{ id }}",
      actions: [
        {
          visibility: [0.1, 0.6], // erstes Drittel beim Scrollen
          type: 'seek',
          frames: [120, 96] // Texte fliegen rein
        },
        {
          visibility: [0.6], // bleibt stehen
          type: 'stop',
          frames: [96, 26] // z. B. Frame in der Mitte des „Pause-Zustands“
        },
        {
          visibility: [0.6, 0.9],
          type: 'seek',
          frames: [26, 0] // Texte fliegen raus
        }
      ]
    });
  });
</script>
