
<section class="w-full scroll-mt-60 md:scroll-mt-80" id="{{ anchor }}">

  <div class="sticky top-60 md:top-80 h-40 md:h-60 flex flex-col justify-center border-b border-b-black w-full z-10 bg-pale">
    {{ partial:components/headings/h2 }}
      {{ title }}
    {{ /partial:components/headings/h2 }}
  </div>


  {{ content }}

    {{ if type == 'contacts' }}
      {{ partial:layout/inner class="py-40 md:py-80 lg:py-150" }}
        {{ partial:components/contacts }}
      {{ /partial:layout/inner }}
    {{ /if }}

    {{ if type == 'animation' }}
      {{ partial:layout/inner class="py-40 md:py-80 lg:py-150" }}
        {{ partial:components/animation }}
      {{ /partial:layout/inner }}
    {{ /if }}

    {{ if type == 'agenda' }}
      {{ partial:layout/inner class="py-40 md:py-80 lg:py-150" }}
        {{ partial:components/agenda }}
      {{ /partial:layout/inner }}
    {{ /if }}

    {{ if type == 'quotes' }}
      {{ partial:layout/inner class="py-40 md:py-80 lg:py-150" }}
        {{ partial:components/quotes }}
      {{ /partial:layout/inner }}
    {{ /if }}

    {{ if type == 'office' }}
      {{ partial:components/office }}
    {{ /if }}

    {{ if type == 'portrait' }}
      {{ partial:layout/inner class="py-40 md:py-80 lg:py-150" }}
        {{ partial:components/portrait }}
      {{ /partial:layout/inner }}
    {{ /if }}

    {{ if type == 'works' }}
      {{ partial:components/works }}
    {{ /if }}
  
  {{ /content }}

</section>
